*{
     margin: 0;
     padding: 0; 
     box-sizing: border-box; 
     text-decoration: none; 
     border: none; 
     outline: none; 
     font-family: 'Poppins' , sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    transition: .5s;
}
.logo:hover{
    color: var(--main-color);
    
}
.navbar a{
font-size: 1.7rem;
color: var(--text-color);
margin-left: 4rem;
transition: .3s;
}



/* -----------------------wapper ----------------------------------------*/

.wapper{
    position: relative;
    width: 750px;
    height: 450px;
    background-color: var(--second-bg-color);
    border: 2px solid var(--main-color);
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;
    transition :.5s;


}

.wapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    background:  transparent;
    flex-direction: column;
    justify-content: center;
}
 /*------------------------------login & register  from box ----------------------*/

.wapper .form-box.login{
    left: 0;
    padding: 0px 60px 0 40px;
}

.wapper .form-box.login .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s *var(--j) );

}
.wapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 1;
    filter: blur(10px);
    transition-delay: calc(.1s *var(--i) );
}

.wapper .form-box.register{
    right: -300px;
    padding: 0px 40px 0 80px;
   
}
.wapper .form-box.register .animation{
    transform: translateX(0);
    opacity: 0;
    filter: blur(20);
    transition: 1s ease;
    transition-delay: calc(.1s *var(--j) );

   
}
.wapper.active .form-box.register .animation{
    transform: translateX(-300px);
    opacity: 1;
    filter: blur(0px);
    transition-delay: calc(.1s *var(--i) );
   
}

.form-box h2{
    font-size: 32px;
    color: white;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding-right: 23px;
    font-weight: 500;
    border-bottom: solid  2px #fff;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label{
    top: -5px;
    color: #0ef;
    
}

input:focus,
input:valid{
    border-bottom:solid 3px #0ef;
    
}
.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: .5s;  
}
input:focus~i,
input:valid~i{
     color: #0ef;
}
.btn{
    position: relative;
    width: 100%;
    height: 45px;
    outline: none;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
    transition: 0,1s ease;
    transition-delay: 0s;


  

}
.btn:hover{
    color: #081b29;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.form-box .loger-link {
    font-size: 14.6px;
    color: white;
    text-align: center;
    margin: 20px 0 10px;
}
.loger-link p a{
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}

.loger-link p a:hover{
    text-decoration: underline;
}
 .wapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

 }
 /*------------------------------login & register  text ----------------------*/
 .wapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px ;
    

 }
 .wapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s *var(--j) );
}
.wapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s *var(--i) );
}



.wapper .info-text.register{
    left: -300px;
    text-align: left;
    padding: 0 150px 60px 40px ;
    pointer-events: none;
    
 }
 .wapper .info-text.register .animation{
    transform: translateX(0px);
    opacity: 0;
    filter: blur(10);
    transition: .7s ease;
    transition-delay: calc(.1s *var(--j) );
    
 }
 .wapper.active .info-text.register .animation{
    transform: translateX(300px);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s *var(--i) );

    
 }


 

 .info-text h2{
    font-size: 36px;
    color: white;
    line-height: 1.3;
    text-transform: uppercase;
 }

 .info-text p{
    font-size: 16px;
    color: white;
 }

/* -----------------------wapper----------------------------------------*/





/* -----------------------wapper background animate----------------------------------------*/




.wapper .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg ,#081b29 ,#0ef);
    /* transform: rotate( 10deg) skewy(40deg);*/
    transform: rotate( 10deg) skewy(40deg);
    /*transform: rotate( 0deg) skewy(0deg);*/

    transform-origin: bottom right ;
    border-bottom: 3px solid var(--main-color);
    transition: 1.5s ease;
    transition-delay: 1.5s;

}


.wapper.active .bg-animate{

    transform: rotate( 0deg) skewy(0deg);
    transition-delay: 0.5s;

}

/* -----------------------wapper background animate----------------------------------------*/




/* -----------------------wapper background animate2----------------------------------------*/




.wapper .bg-animate2{
    position: absolute;
    top: 100%;
    left: 280px;
    width: 850px;
    height: 600px;
    background:var(--bg-color);
    /*transform: rotate( -10deg) skewy(-40deg);*/
    transform: rotate( 0deg) skewy(0deg);
    transform-origin: bottom left ;
    border-top: 3px solid var(--main-color);
    transition: 1.5s ease;
}
.wapper.active .bg-animate2{

    transform: rotate( -11deg) skewy(-41deg);
    transition-delay: 1.4s;

}


/* -----------------------wapper background animate2----------------------------------------*/
/* Style the spinner container */
#register-spinner,
#login-spinner {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.spinner-border {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

/* Style success and error messages */
#register-message,
#login-message {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#register-message {
    color: rgb(153, 255, 153);

}

#login-message {
    color: rgb(255, 164, 164);

}
@media screen and (max-width: 640px) {
    .wapper{
        position: relative;
        width: 90vw;
        height: 90vh;
        background-color: var(--second-bg-color);
        border: 2px solid var(--main-color);
        overflow: hidden;
        box-shadow: 0 0 25px #0ef;
        transition :.5s;
    
    
    }

    h2{
        display: none;
    }

    .info-text.login{
        display: none;
    }
    .info-text.register{
        display: none;
    }
    .form-box.login{
        width: 100%;
    }
    .form-box.form-box.register{
        width: 100%;
    }


}
