*{
    margin: 0;
     padding: 0; 
     box-sizing: border-box; 
     text-decoration: none; 
     border: none; 
     outline: none; 
     scroll-behavior: smooth; 
     font-family: 'Poppins' , sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    transition: .5s;
}
.logo:hover{
    color: var(--main-color);
    
}
.navbar a{
font-size: 1.7rem;
color: var(--text-color);
margin-left: 4rem;
transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
     font-size: 3.6rem;
     color: var(--text-color);
     display: none;
}
.Solione{
        display: flex;
        flex-direction: row-reverse;

  }

/*-------------------------------------------our team-------------------------*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
justify-content: space-between;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    

}
.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color:var(--second-bg-color);
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 30px;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--bg-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
    
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px var(--main-color);
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: var(--main-color);
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }

  
/*-------------------------------------------our team-------------------------*/

/*-------------------------------------------error page-------------------------*/

.message-not-available{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
/*-------------------------------------------home-------------------------*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 100px;
    animation: floatImage 3s ease-in-out infinite;
}


.home_photo{
    display: flex;
    flex-direction: row-reverse;
    animation: floatImage 3s ease-in-out infinite;


}
.logo_D img{
    position: relative;
    width: 13vw;
    left: -6.7vw;
}
.logo_P img{
    position: relative;
    width: 10vw;
    top: 5.5vw;
}
.logo_G img{
    position: relative;
    width: 10vw;
    right: -4.3vw;
    top: -2.8vw;
}


@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3rem);
    }
    100%{
        transform: translateY(0);
    }
     
}
.home-content h3 {
font-size: 3.2rem;
font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);
}
span-red{
    color: rgb(255, 128, 128);

}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
 font-size: 1.6rem;
}

.social-media a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 4rem;
     height: 4rem;
     background: transparent;
     border: .2rem solid var(--main-color);
     border-radius: 50%;
     font-size: 2rem;
     color: var(--main-color);
     margin: 3rem 1.5rem 3rem 0;
     transition: 0.5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 2rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--text-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}

/*-------------------------------------------------account---------------*/
.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.account h2{
    margin-bottom: 5rem;
}
.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.account-container .account-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}
.account-container .account-box:hover{
    border-color:var(--main-color) ;
    transform: scale(1.02);
}
.account-box i {
    font-size: 6rem;
    color: var(--main-color);
}

.account-box h3{
    font-size: 1.7rem;
    margin: 1rem 0 3rem;
}

.account-box p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
}


.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}



















.scrol_row_bg{
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-radius: 2rem;
    background-color: var(--bg-color);

}


.slider{
    min-width: 80vw;
    display: flex;
    flex-direction: row;
}

.scrol_row_bg .scrol_row{
    min-width: 80vw;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background-color: var(--second-bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--bg-color);
    border-radius: 4rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--main-color);
    
}
.scrol_row{
    display: flex;
}
.about-img img {
    width: 35vw;
}
.heading{
    text-align: center ;
    font-size: 4.5rem;   
}

.about-content h2 {
 text-align: left;
 line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.contact-info-container .contact-info-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem;
    border-radius: 2rem;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}
.contact-info-container .contact-info-box:hover{
    border-color:var(--main-color) ;
    transform: scale(1.02);
}
.contact-info-box i {
    font-size: 3rem;
    color: var(--main-color);
}

.contact-info-box h3{
    font-size: 3rem;
    margin: 1rem 0 3rem;
}

.contact-info-box p {
    font-size: 2rem;
    margin: 1rem 0 3rem;
}
.contact-info-container .contact-info-box .content-infoo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*--------------------servises ---------------------------*/




.services h2{
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.services-container .services-box:hover{
    border-color:var(--main-color) ;
    transform: scale(1.02);
}

.services-box a:hover{
    transition: .5s ease;
}
.services-box a:hover{
    border-bottom: 1px solid var(--main-color);
}

.services-box i {
    font-size: 6rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 1.7rem;
    margin: 1rem 0 3rem;
}

.services-box p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
}


/*-------------------- </ srev ------------------------------*/

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
margin-bottom: 4rem;
}

.portfolio-container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
} 

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size:2rem;
    color: var(--second-bg-color);
}




.contact h2{
    margin-bottom:3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input ,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background:var(--second-bg-color) ;
    border-radius: .8rem;
    margin: .7rem 0;


}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
margin-top: 2rem;
cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
   box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 3rem;
    color: var(--second-bg-color);
}

















@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    section{
        padding: 10rem 3% 2rem;

    }
    .services{
        padding-bottom:7rem ;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    footer{
        padding: 2rem 3%;
    }


    .logo_D img{
        position: relative;
        width: 13vw;
        left: -6.7vw;
    }
    .logo_P img{
        position: relative;
        width: 10vw;
        top: 5.5vw;
    }
    .logo_G img{
        position: relative;
        width: 10vw;
        right: -4.3vw;
        top: -2.8vw;
    }
}

@media (max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 2);
        display: none;
    }
    .navbar.active {
        display: block;

    }

  

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .logo_D img{
        position: relative;
        width: 13vw;
        left: -6.7vw;
    }
    .logo_P img{
        position: relative;
        width: 10vw;
        top: 5.5vw;
    }
    .logo_G img{
        position: relative;
        width: 10vw;
        right: -4.3vw;
        top: -3.1vw;
    }


    .home-content h3 {
        font-size: 3rem;

    }
    .home-content h1 {
        font-size: 5rem;

    }
    .home-img{
        width: 80vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;

    }
    .about-img{
        width: 80vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;

    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
        .about.solione{
        display: flex;
        flex-direction: column;
    }


}

@media (max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }



    .logo_D img{
        position: relative;
        width: 13vw;
        left: -6.7vw;
    }
    .logo_P img{
        position: relative;
        width: 10vw;
        top: 5.5vw;
    }
    .logo_G img{
        position: relative;
        width: 10vw;
        right: -4.3vw;
        top: -2.5vw;
    }
        .about.solione{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 450px ) {
    .html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
        
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
        .about.solione{
        display: flex;
        flex-direction: column;
    }

    
    
}
